---
"extends":
  - "eslint-config-defaults/configurations/walmart/es6-react"

"rules":
  "indent": [2, 2, {"SwitchCase": 1}]
  "max-len": 0
  "arrow-parens": [2, "as-needed"]
  "func-style": [2, "declaration", { "allowArrowFunctions": true }]

"env":
  "browser": true,
  "node": true
