const view$ = Rx.Observable
  .combineLatest(props$, value$, (props, toggled) => {
    return div([
      input({ type: "checkbox" }),
      label(toggled.toggled ? props.on : props.off)
    ])
  )
};
