function view(change$, props$) {
  return Rx.Observable
    .combineLatest(props$, change$, (props, toggled) => {
      return div([
        input({ type: "checkbox" }),
        label(toggled.toggled ? props.on : props.off)
      ])
    )
  };
}
